{
    "trailingComma": "all",
    "overrides": [
        {
            "files": [
                ".vscode/*.json",
                "devcontainer.json"
            ],
            "options": {
                "parser": "jsonc"
            }
        }
    ]
}